{% extends "base.html" %} 

{% load static %}

{% block page_content %}

<div class="jumbotron-fluid">
        <p class="lead">
        Let me introduce myself. My name is Krisztina and I am just graduated from the university in Computer Science. 
        In fact that is my second profession. But let's start at the beginning. Back in the 1990's my intrest 
        was focused on languages and math, so I studied economy. However after some working years wanted 
        something more interesting. With the internet starting to be more and more relevant in our life I turned to 
        webdevelopment. I learned HTML on my own, but I wanted more challenge. I was fascinated by the world of coding. 
        At the same time my life changed a lot and after moving to a new country I had to focus on leanring a new 
        language. My intrest in programming was still urging me so I decided to learn it properly: beside working I started studying computer science. 
        I had a lot of support from my family and I managed to finish my bachelor thesis on Neural Networks and 
        Natural Language Processing this year. Browsing my portfolio you can see the some results of this journey.
        </p>
</div>
{% endblock %}